.icon{
    background-color: rgb(133, 182, 224);
    padding: 0%;
    display: flex;
    flex-direction: row;
    font-weight: bold;
}

.new-img{
    height: 30%;
    width: 20%;
    align-items: flex-start;
}

.abc-start{
    text-align: center;
    text-decoration: line-through;
}
.png-icons{
    opacity: inherit;
}
.new-cards{
    font-style: oblique;
}